header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
header a {
  color: red;
}
nav .logo {
  color: green;
}
nav::before {
  content: "伪类选择器before";
}
.weilei a:hover {
  color: blue;
}
